<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Preconnect to external domains -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,400;0,600;1,400;1,600&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header hero-header">
        <h1 id="logo-container"><img id="logo" src="/img/logo-800px.png" alt="Goldfinch Speech & Language Services"/></h1>
        <div id="tagline">Every voice is a song worth hearing</div>
        <nav class="nav">
            <ul class="nav-menu">
                <li><a href="#welcome" class="nav-link">Welcome</a></li>
                <li><a href="#services" class="nav-link">Services</a></li>
                <li><a href="#bio" class="nav-link">About</a></li>
                <li><a href="#contact" class="nav-link">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        {{ content | safe }}
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Speech Therapy Services. All rights reserved.</p>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="/js/main.js"></script>
</body>
</html>